.section{ padding-top: var(--spacing-5); }

.section__header{
    font-size: var(--font-size-4);
    font-weight: var(--normal-font-weight);
    color: var(--grey-color-11);
    margin: 0;
}

.section__header-decoration{
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 1px;
    width: 35px;
    margin: 0;
    border: none;
}

.section__element{ margin: var(--spacing-5) 0; }

@media only screen and (min-width: 768px) { 
    .section__element-holder{
        display: flex;
        justify-content: space-between;
        margin-top: var(--spacing-5);
    }

    .section__element{
        padding: 0;
        margin: 0;
        width: calc((100% - (2 * var(--spacing-4))) / 2);
    }
}

@media only screen and (min-width: 1024px) {
    .section{ padding-top: 0; }
    .section__header_size_md{ display: none; }
    .section__element-holder{ margin-top: var(--spacing-4); }
    .section__element{
        padding: 0;
        margin: 0;
        width: 48%;
    }
}

@media only screen and (min-width: 1200px) { 
    .section__element-holder{ margin-top: var(--spacing-6) }
}