.page-info__position_absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}

.page-info__logo{
    height: 40px;
    margin-bottom: var(--spacing-2);
}

.page-info__text{
    font-size: var(--font-size-6);
    font-weight: var(--heavy-font-weight);
    line-height: 36px;
    color: var(--grey-color-11);
    margin: 0;
    margin-bottom: var(--spacing-3);
}

.page-info__text_center{ 
    position: absolute;
    width: 100%;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.page-info__sub-text{
    margin-top: var(--spacing-3);
    margin-bottom: var(--spacing-6);
    font-size: var(--font-size-2);
    font-weight: var(--light-font-weight);
    line-height: 24px;
}

.page-info__link{
    display: block;
    width: 50%;
    text-decoration: none;
}

@media only screen and (min-width: 600px) { 
    .page-info__position_absolute{ 
        width: 70%;
        top: 50%; 
        left: 15%;
        transform: translate(-15%, -50%);
    }
}

@media only screen and (min-width: 768px) { 
    .page-info__position_absolute{ 
        width: 75%;
        top: 50%; 
        left: 10%;
        transform: translate(-10%, -50%);
    }

    .page-info__logo{
        height: 50px;
        margin-bottom: var(--spacing-2);
    }

    .page-info__text { 
        font-size: var(--spacing-7); 
        line-height: 60px;
    }

    .page-info__sub-text{
        font-size: var(--font-size-4);
        line-height: 30px;
    }
}

@media only screen and (min-width: 1024px) {
    .page-info__position_absolute{ width: 55%; }
}

@media only screen and (min-width: 1200px) {
    .page-info{ width: 40% }
}