.button{
    height: 50px;
    width: 100%;
    border-radius: var(--border-radius-sm);
    margin-top: var(--spacing-5);
    border: none;
    letter-spacing: var(--normal-letter-spacing);
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in 0.5s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


.button_theme_primary{ background-color: var(--primary-color); color: var(--grey-color-1); }

.button_border{ border: 1px solid var(--primary-color-dark); }

.button_width_half{ width: 55%; }

.button__text{
    font-size: var(--font-size-2);
    letter-spacing: var(--normal-letter-spacing);
    line-height: 14px;
}

.button__submitting-text{
    display: none;
    font-size: var(--font-size-2);
    line-height: 14px;
}

.button__spinner{
    display: none;
    margin-left: var(--spacing-1);
}

@media only screen and (min-width: 1200px) {
    /* .button:hover{ transform: scale(1.05); } */
    .button{ width: 40%; }
    .button_position_center{ margin: auto; }
}