.page-header{
    font-size: var(--font-size-4);
    font-weight: var(--normal-font-weight);
    color: var(--grey-color-11);
    margin: 0;
}

.page-header__decoration{
    height: 5px;
    background-color: var(--primary-color);
    border-radius: 1px;
    width: 35px;
    border: none;
}


@media only screen and (min-width: 1024px) {
    .page-header{ display: none; }
}